<nav>
    <div id="Nav_Top">
        <div id="Nav_Left">
            <span>House-O-Pets</span></a>
            <span>
                <a href="/">Home</a>
                <a>Shop</a>
                <a>Contact</a>
                <a>About Us</a>
            </span>
        </div>
        <!-- <div id="Searchbox">
            <form>
                <input id="searchbox" type="search" placeholder="Search ">
                <button id="searchbox_button"><span class="material-symbols-outlined">search</span></button>
            </form>
        </div> -->

        <div id="Nav_Last">
            <div>
                <a href="#"><span class="material-symbols-outlined">search</span></a>
                <a href="#"><span class="material-symbols-outlined">shopping_cart</span></a>
                <a href="/index"><span class="material-symbols-outlined">account_circle</span></a>
            </div>
        </div>
    </div>

    <!-- <div id="Nav_Bottom">
        <div class="dropdown">
            <a class="dropbtn">Cats</a>
            <div class="dropdown-content">
                <a href="cat-food">Food</a>
                <a href="#">Medicine</a>
                <a href="#">Clothes</a>
                <a href="#">Toys</a>
                <a href="#">Collar</a>
                <a href="#">Grooming</a>
            </div>
        </div>
        <div class="dropdown">
            <a class="dropbtn">Dogs</a>
            <div class="dropdown-content">
                <a href="#">Food</a>
                <a href="#">Medicine</a>
                <a href="#">Clothes</a>
                <a href="#">Toys</a>
                <a href="#">Leash,Collar</a>
                <a href="#">Grooming</a>
            </div>
        </div>
        <div class="dropdown">
            <a class="dropbtn">Birds</a>
            <div class="dropdown-content">
                <a href="#">Food</a>
                <a href="#">Medicine</a>
                <a href="#">Snacks</a>
            </div>
        </div>
        <div class="dropdown">
            <a class="dropbtn">More</a>
            <div class="dropdown-content">
                <a href="#">Crib</a>
                <a href="#">Cushion</a>
                <a href="#">Others</a>
            </div>
        </div>
    </div> -->

</nav>